/* Base Style */
body,
body::before,
body::after,
body *,
body *::before,
body *::after {
  box-sizing: border-box;
}

/* [class] {
  margin: 0;
} */

a {
  color: inherit;
  text-decoration: none;
}

body {
  font: inherit;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  background-color: #fff;
}

/* 유연한 미디어 */
img {
  max-width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}

/* 반응형 Iframe */
.iframeWrapper {
  width: 100%;
  /* auto로 주면 안됨, 그럼 총 높이가 padding만큼만 크기를 가지는 것이 아닌 padding+auto가 되니깐 56.25%만큼 가지지 못한다 */
  height: 0;
  padding-top: 56.25%;
  position: relative;
}

.iframeWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
