* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.group1 .box {
  background: gold;
}
.group2 .box {
  background: pink;
}
.group3 .box {
  background: lightgreen;
}
.group4 .box {
  background: skyblue;
}
.group5 .box {
  background: salmon;
}
.group6 .box {
  background: violet;
}
.group7 .box {
  background: aquamarine;
}
.group8 .box {
  background: lightseagreen;
}
.group9 .box {
  background: mediumpurple;
}
.group10 .box {
  background: midnightblue;
}
.group11 .box {
  background: olive;
}
.group12 .box {
  background: sandybrown;
}

/* 모든 디바이스 */
.container {
  background-color: silver;
  border: 1px solid red;
  display: flex;
  flex-flow: row wrap;
  /* gap은 margin처럼 작용 */
  /* row-gap: 1.5rem; */
  padding: 12px;
}

/* flex에서는 마진 병합이 일어나지 않는다. */
.box {
  margin: 12px;
  height: 150px;
}

div[class*="group"] {
  width: 100%;
  margin: 0;
}

/* 768px 이상일 때 */
@media (min-width: 768px) {
  div[class*="group"] {
    width: 50%;
  }
}

/* 1280px 이상일 때 */
@media (min-width: 1280px) {
  div[class*="group"] {
    width: 25%;
  }
}
