* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  background-color: silver;
  border: 1px solid red;
  display: flex;
  flex-flow: row wrap;
}

.group1 {
  background: gold;
}
.group2 {
  background: pink;
}
.group3 {
  background: lightgreen;
}
.group4 {
  background: skyblue;
}
.group5 {
  background: salmon;
}
.group6 {
  background: violet;
}
.group7 {
  background: aquamarine;
}
.group8 {
  background: lightseagreen;
}
.group9 {
  background: mediumpurple;
}
.group10 {
  background: midnightblue;
}
.group11 {
  background: olive;
}
.group12 {
  background: sandybrown;
}

/* 모든 디바이스 */
.container {
  background-color: silver;
  border: 1px solid red;
  display: flex;
  flex-flow: row wrap;
  padding: 12px 12px;
  /* gap은 margin처럼 작용 */
  /* row-gap: 1.5rem; */
}

div[class*="group"] {
  width: 100%;
  height: 50px;
  padding:  0 12px;
}

/* 768px 이상일 때 */
@media (min-width: 768px) {
  div[class*="group"] {
    width: 50%;
    height: 100px;
  }
}

/* 1280px 이상일 때 */
@media (min-width: 1280px) {
  div[class*="group"] {
    width: 25%;
    height: 200px;
  }
}
